In [9]:
from sqlalchemy import create_engine
import pandas
import sys
!{sys.executable} -m pip install PyMySql

Looking in indexes: https://nexus.corp.indeed.com/repository/pypi/simple
Requirement already satisfied: PyMySql in /opt/anaconda3/lib/python3.7/site-packages (0.9.3)

In [10]:
mysql_user = 'root'
mysql_password = ''
mysql_host = '127.0.0.1'
mysql_db = 'hackreactor_talk'
db_connection = create_engine('mysql+pymysql://' + mysql_user + ':' + mysql_password + '@' + mysql_host + '/' + mysql_db)

In [11]:
query = """
            SELECT * 
            FROM actions
            LIMIT 10
        """
pandas.read_sql(query, db_connection)

,id,date,type,cardId,player,team,state,year,edition
0,1,2019-11-03 17:36:53,click,9366,Taylor Bushard,Nationals,WI,1970,3
1,2,2019-11-03 17:36:53,click,982,Ashley Sabado,Marlins,FL,2008,1
2,3,2019-11-03 17:36:53,impression,5210,Gerald Cheatwood,Nationals,AK,1973,3
3,4,2019-11-03 17:36:53,impression,3833,Antone Stipe,Nationals,VT,2004,2
4,5,2019-11-03 17:36:53,click,1187,Rick Locklear,Indians,WY,1981,4
5,6,2019-11-03 17:36:53,impression,2875,Leopoldo Wanke,Astros,TN,2018,3
6,7,2019-11-03 17:36:53,impression,5659,Evan Haberle,Royals,WA,1992,2
7,8,2019-11-03 17:36:53,impression,7814,Gregorio Lundstrom,Yankees,IL,2003,1
8,9,2019-11-03 17:36:53,impression,9870,Gerardo Gosse,Orioles,LA,1983,3
9,10,2019-11-03 17:36:53,impression,4618,Faustino Straker,Twins,OK,2006,1

In [12]:
query = """
            SELECT team, COUNT(id) AS impressions
            FROM actions
            WHERE type = "impression"
            GROUP BY team
        """
impressions = pandas.read_sql(query, db_connection)

In [13]:
impressions

            team  impressions
0         Angels           28
1         Astros           20
2      Athletics           24
3      Blue Jays           23
4         Braves           23
5        Brewers           30
6      Cardinals           19
7           Cubs           18
8   Diamondbacks           32
9        Dodgers           22
10        Giants           32
11       Indians           28
12      Mariners           20
13       Marlins           25
14          Mets           30
15     Nationals           25
16       Orioles           28
17        Padres           26
18      Phillies           32
19       Pirates           27
20       Rangers           33
21          Rays           26
22       Red Sox           28
23          Reds           21
24       Rockies           18
25        Royals           25
26        Tigers           29
27         Twins           23
28     White Sox           22
29       Yankees           22

In [14]:
query = """
            SELECT team, COUNT(id) AS clicks
            FROM actions
            WHERE type = "click"
            GROUP BY team
        """
clicks = pandas.read_sql(query, db_connection)

In [15]:
clicks

            team  clicks
0         Angels       8
1         Astros      12
2      Athletics       1
3      Blue Jays       8
4         Braves       7
5        Brewers       4
6      Cardinals       6
7           Cubs       8
8   Diamondbacks      13
9        Dodgers       9
10        Giants       7
11       Indians       9
12      Mariners       5
13       Marlins       8
14          Mets       8
15     Nationals      13
16       Orioles      11
17        Padres       5
18      Phillies       6
19       Pirates       7
20       Rangers       6
21          Rays       7
22       Red Sox      10
23          Reds      16
24       Rockies       7
25        Royals      11
26        Tigers       6
27         Twins       8
28     White Sox       7
29       Yankees       8

In [21]:
imp_clk = pandas.merge(impressions, clicks, how='left', on='team')
imp_clk['click through rate'] = imp_clk['clicks'] / imp_clk['impressions']
imp_clk.sort_values(by='click through rate', ascending=False)

            team  impressions  clicks  click through rate
23          Reds           21      16            0.761905
1         Astros           20      12            0.600000
15     Nationals           25      13            0.520000
7           Cubs           18       8            0.444444
25        Royals           25      11            0.440000
9        Dodgers           22       9            0.409091
8   Diamondbacks           32      13            0.406250
16       Orioles           28      11            0.392857
24       Rockies           18       7            0.388889
29       Yankees           22       8            0.363636
22       Red Sox           28      10            0.357143
27         Twins           23       8            0.347826
3      Blue Jays           23       8            0.347826
11       Indians           28       9            0.321429
13       Marlins           25       8            0.320000
28     White Sox           22       7            0.318182
6      Cardinals           19       6            0.315789
4         Braves           23       7            0.304348
0         Angels           28       8            0.285714
21          Rays           26       7            0.269231
14          Mets           30       8            0.266667
19       Pirates           27       7            0.259259
12      Mariners           20       5            0.250000
10        Giants           32       7            0.218750
26        Tigers           29       6            0.206897
17        Padres           26       5            0.192308
18      Phillies           32       6            0.187500
20       Rangers           33       6            0.181818
5        Brewers           30       4            0.133333
2      Athletics           24       1            0.041667

In [22]:
imp_clk['clicks'].max()

16